@page "/"

<PageTitle>DGI music</PageTitle>

<body>
    <div id ="interface">
    <header id ="cabecalho">
            <h1>Nome do site aqui</h1> 
                <nav id= "Menu"> 
                    <ul>
                        <li><a href = "/login">Login</a></li>
                        <li><a href ="/criarlogin">Criar Login</a></li>
                    </ul>
                </nav>
                <nav id = "Pagina">
                    <ul>
                        <li><a href = "/">Inicio</a></li>     
                        <li><a href = "/">Pesquisar</a></li>
                        <li><a href = "/">Favoritos</a></li>
                    </ul>
                </nav>
    </header>
    </div>
</body>