@page "/login"
<body>
    <div class="main-box">
        <p>
            <MatTextField @bind-Value="@myStringValue" Label="Email" icon="email"></MatTextField>
        </p>

        <p>
            <MatTextField @bind-Value="@myStringValue" Label="Senha" icon="lock"></MatTextField>
        </p>
    </div>
</body>

@code{
     
    string myStringValue;
}
